* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: darkgray;
    color: white;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

main {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 3rem;
    color: yellow;
    margin: 2rem;
}

.btn {
    font-size: 20px;
    color: blue;
    padding: 5px;
    border: 1px solid;
    margin: 5px;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
}

